@font-face {
    font-family:"gothamrounded-bold";
    src: url("./fonts/gothamrounded-bold.otf");
}
@font-face {
    font-family:"gothamrounded-book";
    src: url("./fonts/gothamrounded-book.otf");
}
body{
    font-family: "gothamrounded-book";
}
.font-lg{
    font-family:'gothamrounded-bold';
}
.hykembg{
    background-image: url("/img/green-bg.png");
    background-size: cover;
    height: calc(100vh - 3rem);
    background-repeat: no-repeat;
}
.hukemdiv{
    background-image: url("/img/green-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.hykem{
    background-image: url("/img/hykem-bg.png");
    background-size: cover;
    height: calc(100vh - 3rem);
    background-repeat: no-repeat;
}
.hykem-product{
    background-image: url("/img/product.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-text h2{
    line-height: 45px;
}
.text-sm{
    font-size: 14px;
}
a {
    text-decoration: none;
}
a{
    border-bottom: 2px solid #fff;
}

hr{
    height:3px !important;
    opacity: 1 !important;
}